<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}
    {% include docs_header.html %}
    {% if page.title %}
      {% include banner.html %}
    {% endif %}


    <div class="container docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar hidden-print" role="complementary">
            {% include lefttree.html %}
          </div>
        </div>
        <div class="col-md-9" role="main">
          <div class="panel docs-content">
            <div class="wrapper">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% include footer.html %}

  </body>
</html>
